// SCSS for the dashboard component

.main-dashboard {
  background-color: var(--bg-color);
  position: relative;
}

.main-content-container {
  width: 100%; 
  margin-left: var(--expanded-sidebar-width);
  max-width: calc(100% - var(--expanded-sidebar-width));
  margin-top: var(--header-height);
  background: var(--bg-color);
}