// SCSS for the dashboard component

.main-dashboard {
  display: flex;
  background-color: #0f172a;
  position: relative; 
}

.main-content-container {
  width: 100%; 
  min-height: 100vh; 
  margin: 0 2rem 0 2rem;
  padding: 0 1rem;
}

.sidebar-container {
  position: fixed; // Fixes the sidebar's position
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100; // Ensure it stays on top of other elements
}



