<p-toast />
<div class="product-dialog">
  <div class="dialog-body">
    <div class="image-section">
      <img
        src="{{ product.product.image_url }}"
        alt="{{ product.product.name }}"
      />
    </div>

    <div class="details-section">
      <div class="details-header">
        <h2 class="product-title">{{ product.product.name }}</h2>
        <i class="pi pi-times close-icon" (click)="handleOnClose()"></i>
      </div>

      <p class="product-description">
        {{ product.product.description }}
      </p>

      <div class="info-grid">
        <div class="info-item">
          <p class="label">Duration</p>
          <p class="value">{{ product.product.duration }} days</p>
        </div>

        <div class="info-item">
          <p class="label">Price per day</p>
          <p class="value">₹{{ product.category.price }}</p>
        </div>

        <div class="info-item">
          <p class="label">Security</p>
          <p class="value">₹{{ product.category.security }}</p>
        </div>
      </div>

      <div class="contact-lender">
        <!-- <h3 class="section-title">Contact Lender</h3> -->

        <div class="lender-card">
          <div class="lender-info">
            <img
              src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
              alt="Lender Avatar"
              class="lender-avatar"
            />
            <div class="lender-details">
              <p class="lender-name">{{ product.user.full_name }}</p>
              <p class="lender-phone">{{ product.user.phone_number }}</p>
            </div>
          </div>

          <i class="pi pi-phone call-icon"></i>
        </div>
      </div>

      <button class="buy-btn" (click)="handleBuyRequest(product.product.id)">
        Create Lend Request
      </button>
    </div>
  </div>
</div>

@if (isLoading) {
  <div class="loading-overlay">
    <app-loader [isLoading]="isLoading"></app-loader>
  </div>
}
