<p-toast />
@if (isLoading) {
  <div class="loading-overlay">
    <app-loader [isLoading]="isLoading"></app-loader>
  </div>
}

<div class="card-container">
  <div class="category-header">
    <div class="header-left">
      <h1 class="title">Orders Received</h1>
      <p class="subtitle">All orders you have received for products</p>
    </div>
  </div>

  @if (AllOrders.length == 0) {
    <div class="no-buy-request">
      <img
        src="https://media.geeksforgeeks.org/auth-dashboard-uploads/not_found_mentor.svg"
        alt="No Buy Request"
      />
      <h1>No orders received yet</h1>
    </div>
  } @else {
    <div class="table-section">
      <p-table [value]="AllOrders" stripedRows [responsiveLayout]="'scroll'" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Tenant</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Amount</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-order>
          <tr>
            <td>{{ order.product.product.name }}</td>
            <td>{{ order.product.category.name }}</td>
            <td>{{ order.product.user.full_name }}</td>
            <td>{{ order.order.start_date.split('T')[0] }}</td>
            <td>{{ order.order.end_date.split('T')[0] }}</td>
            <td>₹{{ order.order.total_amount }}/day</td>
            <td>{{ order.order.status | orderStatus }}</td>
            <td>
              <button
                pButton
                class="lending-btn p-button-sm"
                (click)="handleCreateReturnRequest(order)"
                [disabled]="order.order.status != 0"
              >
                Request Return
              </button>
              <button
                pButton
                class="lending-btn p-button-sm"
                (click)="markOrderAsReturn(order.order.id)"
                [disabled]="order.order.status == 2"
              >
                Mark as Returned
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }
</div>
