<p-toast />
<header class="main-header">
  <div class="header-brand">Loopit.</div>

  <div class="header-right">
    <div class="header-signup" *ngIf="!isUserLoggedIn">
      <button class="signup-btn" type="button" (click)="onClickedSignIn()">Sign In</button>
    </div>

    </div>

    <div class="user" *ngIf="isUserLoggedIn">
      <i class="pi pi-user" ></i>
      <div class="user-name">{{ user?.name }}</div>
    </div>

    <div class="logout-div" *ngIf="isUserLoggedIn">
      <button class="logout" (click)="handleLogout()"><i class="pi pi-sign-out"></i> Logout</button>
    </div>
  </div>
</header>

 <app-auth [isLogin]="isLoggedIn"></app-auth>

@if (isLoading) {
  <div class="loading-overlay">
    <app-loader [isLoading]="isLoading"></app-loader>
  </div>
}
