
@use 'mixin.scss';



$cyan-400: #22d3ee;
$slate-900: #0f172a;
$transition-speed: 300ms;

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}


.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.main-header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1.5rem; 
  background-color:$slate-900;
  position: sticky;
  top: 0;
  z-index: 1000; 

  .header-brand {
    font-size: 1.5rem; 
    font-weight: bold;
    color: $cyan-400;
  }
  .pi-bars{
    cursor: pointer;
  }
  .pi-user{
    cursor: pointer;
  }

  .signup-btn {
    border: 1px solid $cyan-400;
    color: $cyan-400;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
     @include mixin.transition-hover-scale(300ms,linear,1.15);

    &:hover {
      background-color: $cyan-400;
      color: $slate-900;  
    }

  }
}

