@use '../../../scss/mixin.scss' as *;

$green-400: #48bb78;
$cyan-400: #4fd1c5;
$slate-300: #cbd5e1;
$cyan-500: #06b6d4;
$green-500: #22c55e;
$cyan-600: #0891b2;
$green-600: #16a34a;
$slate-900: #0f172a;


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}



.heropage {
  @include flex(column, center, center, 14px);
  padding: 10px 10px 20px 10px;
  min-height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
}

.main-intro {
  @include flex(column, center, center, 28px);
  text-align: center;
  padding-block: 40px;
  min-width: 300px;
  max-width: 900px;
  
  .main-heading {
    @include typography(var(--font-primary), 42px, 800, 100%, normal);
    color: var(--accent-color);
  }

  .main-para {
    @include typography(var(--font-primary), 18px, 400, 1.2, normal);
    color: var(--text-secondary);
  }

  .getstart-btn {
    @include buttonStyle(var(--accent-color), #fff, 12px 24px, 30px);
    &:hover {
      background-color: var(--accent-hover-color);
    }
  }
}


.feature-cards {
  @include flex(row, center, center, 24px);
  flex-wrap: wrap;
}

.card {
  padding: 32px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  @include flex(column, center, center, 16px);
  min-width: 300px;
  max-width: 400px;

  &-icon-wrapper {
    @include flex(null, center, center);
    border-radius: 8px;
    width: 50px;
    height: 50px;
    background-color: var(--icon-bg);

    i {
      font-weight: 800;
      color: var(--accent-color);
    }
  }


  &-title {
    color: var(--accent-color);
    text-align: center;
    @include typography(var(--font-primary), 20px, 700, 1.4, normal);

  }

  &-description {
    color: var(--text-secondary);
    text-align: center;
    @include typography(var(--font-primary), 16px, 400, 1.5, normal);
  }

}

.login-modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}