@use 'mixin.scss' as *;

.close-div {
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease;
  position: fixed;
  top: 24px;
  right: 44px;

  &:hover {
    transform: scale(1.2);
  }

  .pi.pi-times {
    font-size: 24px;
  }
}

.auth-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.signup-comp {
  background-color: var(--layout-bg-color);
  border-radius: 12px;
  min-width: 400px;
}

.signup-title {
  @include typography(var(--font-primary), 24px, 600, 100%, normal);
  color: var(--text-primary);
  text-align: center;
  padding: 24px;
  border-bottom: 1px solid var(--border-color);
}

.signup-para-btn {
  @include flex(row, center, center, 6px);
  margin: 12px;
  justify-content: center;
}

.signup-para {
  @include typography(var(--font-primary), 14px, 400, 100%);
  color: var(--text-secondary);
}

.btn-signin {
  @include typography(var(--font-primary), 14px, 500, 100%);
  color: var(--accent-color);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
