<p-toast />

<div class="sidebar-dashboard" *ngIf="isOpen">
  <nav class="sidebar">

    <div class="sidebar-header" *ngIf="loggedInUserRole === 'admin'">
      <div class="logo">
        <div class="pi pi-user"></div>
        <div>
          <span>Admin Dashboard</span>
        </div>
       <!-- <div class="close-logo pi pi-angle-left" (click)="closeSidebar()"></div>-->
      </div>
    </div>

    <ul class="sidebar-menu">
      <li *ngFor="let item of currentMenuItems">
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          class="menu-link"
        >
          <i [class]="item.icon"></i> {{ item.label }}
          <span *ngIf="item.badge" class="badge">{{ item.badge }}</span>
        </a>
      </li>

      <!-- Lenders Menu -->
<li *ngIf="loggedInUserRole === 'lender'" class="lender-dashboard">
  <button class="lender-toggle-btn" (click)="toggleLenderMenu()">
    <!-- <i class="pi pi-cog"></i> -->
    Lender Dashboard
    <i class="pi pi-angle-right toggle-icon" [ngClass]="{'open': isLenderOpen}"></i>
  </button>

  <ul class="lender-menu" [class.open]="isLenderOpen">
    <li *ngFor="let item of menuItemsLender">
      <a
        [routerLink]="item.route"
        routerLinkActive="active"
        class="menu-link"
      >
        <i [class]="item.icon"></i> {{ item.label }}
      </a>
    </li>
  </ul>
</li>
    </ul>
    <button class="become-lender-btn" (click)="handleBecomeLender()" *ngIf="loggedInUserRole == 'user'">
      <i class="pi pi-user-plus"></i> Join as a Lender
    </button>
  </nav>
</div>

@if (isLoading) {
  <div class="loading-overlay">
    <app-loader [isLoading]="isLoading"></app-loader>
  </div>
}
