<p-toast />

<div class="sidebar-dashboard" *ngIf="isOpen">
  <nav class="sidebar">
    <div class="sidebar-header">
      <div class="logo">
        <div class="pi pi-user"></div>
        <div [ngSwitch]="loggedInUserRole">
          <span *ngSwitchCase="'admin'">Admin Dashboard</span>
          <span *ngSwitchCase="'lender'">Lender Dashboard</span>
          <span *ngSwitchDefault>User Dashboard</span>
        </div>
       <!-- <div class="close-logo pi pi-angle-left" (click)="closeSidebar()"></div>-->
      </div>
    </div>

    <ul class="sidebar-menu">
      <li *ngFor="let item of currentMenuItems">
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          class="menu-link"
        >
          <i [class]="item.icon"></i> {{ item.label }}
          <span *ngIf="item.badge" class="badge">{{ item.badge }}</span>
        </a>
      </li>
    </ul>
    <button class="become-lender-btn" (click)="handleBecomeLender()" *ngIf="loggedInUserRole == 'user'">
      <i class="pi pi-user-plus"></i> Join as a Lender
    </button>
  </nav>
</div>

@if (isLoading) {
  <div class="loading-overlay">
    <app-loader [isLoading]="isLoading"></app-loader>
  </div>
}
