@use 'mixin.scss' as *;
.dashboard-cards {
  @include flex($justify: space-between, $gap: 20px);
  flex-wrap: wrap;
  padding: 20px;
  min-height: calc(100vh - var(--header-height));
}

.card {
  min-width: 320px;
  flex: 1 1 500px;
  width: 100%;
  padding: 20px;
  background-color: var(--card-bg);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  max-height: 200px;

  .card-content {
    @include flex($justify: space-between, $align: center, $gap: 15px);
  }
  
  .left {
    @include flex($direction: column, $gap: 20px);
    .card-heading {
      @include typography(var(--font-primary), 14px, 400, 100%);
      color: var(--text-secondary);
    }
    
    .card-count {
      @include typography(var(--font-primary), 44px, 700, 100%);
      color: var(--accent-color);
    }
  }
}


.right {
  i {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    color: var(--accent-color);
    background-color: var(--icon-bg);
    @include flex($justify: center, $align: center);
    font-size: 48px;
  }
}