<p-toast></p-toast>

<div class="dashboard-cards">
  <div class="card card-users" (click)="navigateTo('users')">
    <div class="card-content">
      <div class="left">
        <h3 class="card-heading">Total Users</h3>
        <span class="card-count">{{ GetAllUsers.length }}</span>
      </div>
      <div class="right">
        <i class="pi pi-users"></i>
      </div>
    </div>
  </div>

  <div class="card card-categories" (click)="navigateTo('categories')">
    <div class="card-content">
      <div class="left">
        <h3 class="card-heading">Categories</h3>
        <span class="card-count">{{ GetAllCategories.length }}</span>
      </div>
      <div class="right">
        <i class="pi pi-list-check"></i>
      </div>
    </div>
  </div>

  <div class="card card-societies" (click)="navigateTo('societies')">
    <div class="card-content">
      <div class="left">
        <h3 class="card-heading">Societies</h3>
        <span class="card-count">{{ GetAllSocieties.length }}</span>
      </div>
      <div class="right">
        <i class="pi pi-globe"></i>
      </div>
    </div>
  </div>

  <div class="card card-lenders" (click)="navigateTo('users', 'lender')">
    <div class="card-content">
      <div class="left">
        <h3 class="card-heading">Lenders</h3>
        <span class="card-count">{{ GetAllLenders.length }}</span>
      </div>
      <div class="right">
        <i class="pi pi-user"></i>
      </div>
    </div>
  </div>
</div>
