@use 'mixin.scss' as *;

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.society-page {
    background: var(--bg-color);
    margin-top: var(--header-height);
    @include flex($direction: column, $gap: 12px);
    padding: 16px 20px;
    border: 1px solid var(--border-color);
    background: var(--card-bg);
    border-radius: 12px;
    margin: 10px;
}

.society-header {
    @include flex(row, center, space-between);
    flex-wrap: wrap;


    .header-left {
        @include flex(column, flex-start, flex-start, 0.25rem);

        .title {
            @include typography(var(--font-primary), 1.5rem, 600, 1.2);
            color: var(--accent-color);
        }

        .subtitle {
            @include typography(var(--font-secondary), 0.9rem, 400, 1.3);
            color: var(--text-secondary);
        }
    }

    .header-actions {
        .add-btn {
            @include buttonStyle(var(--accent-button-color), #fff, 0.5rem 1rem, 6px);

            &:hover {
                background: var(--accent-hover-color);
            }
        }
    }
}

.table-section {
    .table-loading {
        height: 250px;
        border-radius: 6px;
        @include shimmer-effect;
    }

    th,
    td {
        text-align: center;
    }
}

.text-muted {
    color: var(--text-secondary);
    font-size: 0.85rem;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}

.create-society-comp {
    background-color: var(--layout-bg-color);
    border-radius: 12px;
    min-width: 400px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

.create-society-title {
    @include typography(var(--font-primary), 24px, 600, 100%, normal);
    color: var(--text-primary);
    text-align: center;
    padding: 24px;
    border-bottom: 1px solid var(--border-color);
}

.close-div {
    cursor: pointer;
    color: #fff;
    transition: all 0.2s ease;
    position: fixed;
    top: 24px;
    right: 44px;

    &:hover {
        transform: scale(1.2);
    }

    .pi.pi-times {
        font-size: 24px;
    }
}

.create-society-form {
    @include flex($direction: column);
    max-height: 450px;
    overflow: auto;
    padding: 12px 18px;
}

.form-item {
    @include flex($direction: column, $gap: 10px);
}

label {
    @include typography(var(--font-primary), 14px, 400, 100%);
    color: var(--text-secondary);

    span {
        color: var(--danger-bg-color);
    }
}

input {
    @include typography(var(--font-secondary), 14px, 400, 100%);
    width: 100%;
    color: var(--text-primary);
    padding: 16px 12px;
    border: 1.5px solid var(--border-color);
    border-radius: 8px;
    background: transparent;

    &:focus {
        border: 1.5px solid var(--active-border-color);
        outline: none;
    }
}

.create-society-btn {
    @include buttonStyle(var(--accent-color), #fff, 12px 24px, 30px);
    width: 100%;
    margin-top: 1rem;

    &:hover {
        background-color: var(--accent-hover-color);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.control-error {
    @include typography(var(--font-secondary), 12px, 400, 100%);
    color: var(--danger-bg-color);
    min-height: 14px;
    text-align: left;
}

input.ng-invalid.ng-touched {
    border: 1.5px solid var(--danger-bg-color); 
}
