@use 'mixin.scss' as *;

$color-card-background: #ffffff;
$color-border: gray;
$color-text-label: black;
$color-neon-blue: #22d3ee;
$color-neon-blue-hover: #00aacc;

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.close-div {
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease;
  position: fixed;
  top: 24px;
  right: 44px;

  &:hover {
    transform: scale(1.2);
  }

  .pi.pi-times {
    font-size: 24px;
  }
}

.signup-form {
  @include flex($direction: column, $gap: 14px);
  padding: 12px 18px;
}

.form-name,
.form-email,
.form-password,
.form-phoneNo,
.form-address,
.form-group {
  @include flex($direction: column, $gap: 6px);
  width: 100%;
}

.form-group {
  select {
    option {
      padding: 10px;
    }
  }
}

label {
  @include typography(var(--font-primary), 14px, 400, 100%);
  color: var(--text-secondary);

  span {
    color: var(--danger-bg-color);
  }
}

input,
select {
  @include typography(var(--font-secondary), 14px, 400, 100%);
  width: 100%;
  color: var(--text-primary);
  padding: 16px 12px;
  border: 1.5px solid var(--border-color);
  border-radius: 8px;
  background: transparent;

  &:focus {
    border: 1.5px solid var(--active-border-color);
    outline: none;
  }
}


select {
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, var(--text-secondary) 50%),
    linear-gradient(135deg, var(--text-secondary) 50%, transparent 50%);
  background-position: calc(100% - 16px) calc(1em + 2px), calc(100% - 11px) calc(1em + 2px);
  background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;
  padding-right: 36px;
}

.signup-btn {
  @include buttonStyle(var(--accent-color), #fff, 12px 24px, 30px);
  width: 100%;

  &:hover {
    background-color: var(--accent-hover-color);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.signup-para-btn {
  @include flex(row, center, center, 6px);
  margin-top: 12px;
  justify-content: center;
}

.signup-para {
  @include typography(var(--font-primary), 14px, 400, 100%);
  color: var(--text-secondary);
}

.btn-signin {
  @include typography(var(--font-primary), 14px, 500, 100%);
  color: var(--accent-color);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}


.control-error {
  @include typography(var(--font-secondary), 12px, 400, 100%);
  color: var(--danger-bg-color);
  min-height: 16px;
  text-align: left;
}

input.ng-invalid.ng-touched {
  border: 1.5px solid var(--danger-bg-color);
}
