<div class="signup-comp">
  <app-login *ngIf="isLoggedIn"></app-login>
  <app-loader *ngIf="isLoading"></app-loader>

  <div *ngIf="!isLoggedIn && !isLoading">
    <div class="signup-title">Sign Up</div>
    <div class="close-div">
      <i class="pi pi-times" (click)="handleOnClose()"></i>
    </div>

    <form class="signup-form" (ngSubmit)="onFormSubmitted(signupForm)" #signupForm="ngForm">
      <div class="form-name">
        <label for="name">Full Name *</label>

        <input
          id="name"
          type="text"
          name="fullname"
          autocomplete="name"
          [(ngModel)]="user.fullname"
          required
        />
      </div>

      <div class="form-email">
        <label for="email">Email *</label>

        <input
          id="email"
          type="email"
          name="email"
          required
          autocomplete="email"
          [(ngModel)]="user.email"
        />
      </div>

      <div class="form-password">
        <label for="password">Password *</label>

        <input id="password" type="password" name="password" required [(ngModel)]="user.password" />
      </div>

      <div class="form-phoneNo">
        <label for="number">Phone no. *</label>

        <input
          id="number"
          type="string"
          name="phone_number"
          required
          [(ngModel)]="user.phone_number"
        />
      </div>

      <div class="form-address">
        <label for="address">Address *</label>

        <input id="address" name="address" required [(ngModel)]="user.address" />
      </div>

      <button type="submit" class="signup-btn" [disabled]="!signupForm.valid">Sign Up</button>

      <div class="signup-para-btn">
        <p class="signup-para">Do not have an account yet?</p>
        <button class="btn-signin" (click)="onClickSignIn()">Sign in</button>
      </div>
    </form>
  </div>
</div>
