
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  @import "primeicons/primeicons.css";

body {
    margin: 0;
    padding: 0;
  font-family: "Roboto", sans-serif;
  
}