@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "primeicons/primeicons.css";
@import "scss/mixin.scss";
@import "scss/variables.scss";

body {
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--layout-bg-color);
  font-family: var(--font-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 3px;
  border: 1px solid var(--layout-bg-color);
}

::-webkit-scrollbar-corner {
  background: #000;
}

$pink-gradient-end: #ec4899;
