@mixin transition-hover-scale($duration,$style,$scale){
    &:hover{
        transition: all $duration $style;
        transform: scale($scale)
    }
    
}

@mixin card-hover-shadow($color) {
  &:hover {
    box-shadow: 0 20px 25px -5px rgba($color, 0.1),
                0 8px 10px -6px rgba($color, 0.1);
  }
}