:root {
    --bg-color: #f5f5f5;
    --layout-bg-color: #ffffff;
    --card-bg: #ffffff;
    --text-primary: #0e0e12;
    --text-secondary: #1D1D1F;
    --accent-color: #357960;
    --accent-hover-color: #148761;
    --accent-button-color: #106c50;
    --accent-text-color: #91c4ad;
    --accent-border-color: #00895E;
    --border-color: #cdcdd6;
    --border-secondary: #E9EAEB;
    --danger-bg-color: #cf4837;
    --danger-bg-color-darker: #bd3e35;
    --primary-green: #4CB96B;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --icon-bg: #cbebd880;
    --active-border-color: #35794069;
    --shimmer-color: linear-gradient(100deg, #f0f0f0 25%, #e0e0e0 37%, #f0f0f0 63%);
    --header-height: 60px;
    --expanded-sidebar-width: 250px;
    --left-bar-hover-color : #eff2f0;
}