@use 'mixin.scss' as *;


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

/* $$$$$ Page Layout $$$$$ */
.create-product-page {
  background: var(--bg-color);
    margin-top: var(--header-height);
    min-height: calc(100vh - var(--header-height) - 20px);
    @include flex($direction: column, $gap: 12px);
    padding: 16px 20px;
    border: 1px solid var(--border-color);
    background: var(--card-bg);
    border-radius: 12px;
    margin: 10px;
}


.product-title {
  @include typography(var(--font-primary), 24px, 600, 100%);
  color: var(--accent-color);
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-color);
}

.product-form {
  @include flex($direction: column);
  margin-top: 16px;
}

.form-group {
  @include flex($direction: column, $gap: 6px);

  label {
    @include typography(var(--font-primary), 14px, 500, 100%);
    color: var(--text-secondary);

    span {
      color: var(--danger-bg-color);
    }
  }

  input,
  textarea,
  select {
    @include typography(var(--font-secondary), 14px, 400, 100%);
    width: 100%;
    color: var(--text-primary);
    padding: 14px 12px;
    border: 1.5px solid var(--border-color);
    border-radius: 8px;
    background: transparent;

    &:focus {
      border-color: var(--active-border-color);
      outline: none;
    }
  }

  small.control-error {
    @include typography(var(--font-secondary), 12px, 400, 100%);
    color: var(--danger-bg-color);
    min-height: 14px;
    text-align: right;
  }
}

/* $$$$$ Image Upload $$$$$ */
.image-upload-area {
  border: 1.5px dashed var(--border-color);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: #fafafa;

  .icon-upload {
    margin-bottom: 8px;
    color: var(--accent-color);
  }

  .upload-text {
    @include typography(var(--font-secondary), 13px, 400, 100%);
    color: var(--text-secondary);
  }

  .file-input {
    display: none;
  }

  .btn-choose-file {
    margin-top: 0.5rem;
    border: none;
    background-color: var(--accent-color);
    color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;

    &:hover {
      background-color: var(--accent-hover-color);
    }
  }
}

/* $$$$$ Submit Button $$$$$ */
.product-btn {
  @include buttonStyle(var(--accent-color), #fff, 14px 24px, 30px);
  width: 100%;
  margin-top: 1rem;

  &:hover {
    background-color: var(--accent-hover-color);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
