@use 'mixin.scss' as *;



.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.browse-items {
    background: var(--bg-color);
    margin-top: var(--header-height);
    min-height: calc(100vh - var(--header-height) - 1rem);
    @include flex($direction: column, $gap: 12px);
    padding: 16px 20px;
    border: 1px solid var(--border-color);
    background: var(--card-bg);
    border-radius: 12px;
    margin: 10px;
}

.category-header {
    @include flex(row, center, space-between);
    flex-wrap: wrap;


    .header-left {
        @include flex(column, flex-start, flex-start, 0.25rem);

        .title {
            @include typography(var(--font-primary), 1.5rem, 600, 1.2);
            color: var(--accent-color);
        }

        .subtitle {
            @include typography(var(--font-secondary), 0.9rem, 400, 1.3);
            color: var(--text-secondary);
        }
    }
}


.catgories-header-comp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}


.catgories-title {
  font-size: 1.5rem;
  font-weight: 600; 
  color: white; 
}

.catgories-subtitle {
  color: #d1d5db; ;  
}

.product-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 24, 39, 0.7);
  backdrop-filter: blur(8px);
  z-index: 1000;
  padding: 1rem;
}

.products-grid {
  @include flex($gap: 12px);
  flex-wrap: wrap;
  margin-top: 12px;

  .product-card {
    width: 250px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    background-color: var(--layout-bg-color);
    cursor: pointer;
    
  
    &:hover {
    }
  
    &.not-available {
      .not-available-overlay {
        display: flex;
      }
    }
  }
}


.not-available-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.product-image-container {
  height: 200px;
  position: relative;  
}

.product-image {
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
  transition: filter 0.3s linear;
}

.availability-badge {
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-weight: 600;

  &.destructive {
    background-color: #ef4444;
    color: #fff;
    font-weight: bold;
    font-size: large;
  }
}

.product-info {
  padding: 10px;
  @include flex($direction: column, $gap: 8px);
}

.product-header {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}

.product-name {
  @include typography(var(--font-primary), 18px, 600, 100%);
  color: var(--text-primary);
}

.category-badge {
  // margin-left: 0.5rem;
  // padding: 0.5rem;
  // font-size: 0.75rem;
  // line-height: 1;
  // border-radius: 9999px;
  // background-color: rgba(#2d3748, 0.7);
  // color: white;

  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 8px;
  @include typography(var(--font-secondary), 10px, 500, 1);
  background: var(--icon-bg);
  border-radius: 30px;
  color: var(--accent-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-description {
  @include typography(var(--font-secondary), 13px, 400, 1.2);
  color: var(--text-secondary);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 30px;
}

.product-details-row {
  @include flex(row, center, space-between);
  border-top: 1px solid var(--border-color);
  padding-top: 10px;

  .view-btn {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}

.product-price {
  @include typography(var(--font-primary), 18px, 600, 100%);
  color: var(--accent-color);
  width: 100%;

  span {
    @include typography(var(--font-primary), 12px, 400, 1);
    color: var(--text-secondary);
  }
}

.product-availability {
  font-size: 0.75rem;
  color: #71717a;
  opacity: 1;

  &.available {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #a1a1aa; // A light grey color to match the visual style

    &::before {
      content: '';
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      background-color: #16a34a;
      border-radius: 50%;
    }
  }
}

.filters {
  @include flex(row, center, flex-start, 12px);
  flex-wrap: wrap;
  margin-bottom: 16px;

  input,
  .p-dropdown {
    min-width: 200px;
  }

  .clear-btn {
    @include buttonStyle(var(--danger-bg-color), #fff, 8px 18px, 8px);

    &:hover {
      background: var(--danger-bg-color-darker);
    }
  }
}
