@use 'mixin.scss';



.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}



.catgories-header-comp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}


.catgories-title {
  font-size: 1.5rem;
  font-weight: 600; 
  color: white; 
}

.catgories-subtitle {
  color: #d1d5db; ;  
}


.browse-items {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  margin: auto;
}

.product-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 24, 39, 0.7);
  backdrop-filter: blur(8px);
  z-index: 1000;
  padding: 1rem;
}

.product-card {
  margin-top: 1rem;
  max-width: 16rem;
  max-height: 20rem; 
  border: 1px solid rgba(#4a5568, 0.5);
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  background-color: rgba(#2d3748, 0.5);
  cursor: pointer;
  @include mixin.card-hover-shadow(#13c7d4);
  @include mixin.transition-hover-scale(300ms, linear, 1.05); // Adjusting scale for better visual feedback

  &:hover {
    .product-name {
      color: #00f0ff; // Cyan hover color for the name
    }
  }

  &.not-available {
    .product-image {
      filter: blur(4px);
    }
    .not-available-overlay {
      display: flex;
    }
  }
}

.not-available-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.product-image-container {
  position: relative;
  height: 10rem; // Fixed height for image container
}

.product-image {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem 0.8rem 0 0; // Rounded top corners only
  object-fit: cover;
  transition: filter 0.3s linear;
}

.availability-badge {
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-weight: 600;

  &.destructive {
    background-color: #ef4444;
    color: #fff;
    font-weight: bold;
    font-size: large;
  }
}

.product-info {
  padding: 1rem;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  font-weight: 500;
  color: white;
  transition: color 0.2s ease-in-out;
}

.category-badge {
  margin-left: 0.5rem;
  padding: 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
  border-radius: 9999px;
  background-color: rgba(#2d3748, 0.7);
  color: white;
}

.product-description {
  color: #71717a;
  font-size: 0.875rem;
  margin-top: -0.3rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-details-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  color: #39ff14;
  font-weight: 500;
}

.product-availability {
  font-size: 0.75rem;
  color: #71717a;
  opacity: 1;

  &.available {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #a1a1aa; // A light grey color to match the visual style

    &::before {
      content: '';
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      background-color: #16a34a;
      border-radius: 50%;
    }
  }
}
