<p-toast />

<div class="catgories-header-comp">
  <div class="catgories-info">
    <h1 class="catgories-title">catgories</h1>
    <p class="catgories-subtitle">Manage residential catgories in the rental network</p>
  </div>
  <span class="catgories-count-badge">
    <span>{{ GetAllCategories.length }}</span> catgories
  </span>
</div>

<div class="get-category-comp">
  @if (isLoading) {
    <div class="loading-overlay">
      <app-loader [isLoading]="isLoading"></app-loader>
    </div>
  }

  <div class="card" *ngFor="let category of GetAllCategories">
    <div class="card-header">
      <div class="flex-container-header">
        <div class="flex-item-start">
          <i class="pi pi-objects-column"></i>
          <h3 class="card-title">{{ category.name }}</h3>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="grid-container">
        <div class="grid-item">
          <div class="grid-item-header-cyan">
            <i class="pi pi-indian-rupee"></i>
            <span>Base Price</span>
          </div>
          <p class="price">₹{{ category.price }}.00</p>
        </div>

        <div class="grid-item">
          <div class="grid-item-header-green">
            <i class="pi pi-shield"></i>
            <span>Security</span>
          </div>
          <p class="security">₹{{ category.security }}.00</p>
        </div>
      </div>

      <div class="button-group">
        <button class="button edit">
          <i class="pi pi-pen-to-square"></i>
        </button>
        <button class="button delete">
          <i class="pi pi-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
